/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    header .main-nav ul li a{
        display: none;
    }
    header .main-nav ul li a ~ svg{
        display: none;
    }
    header main h2{
        font-size: 40px!important;
        line-height: 50px!important;
    }
    header main p{
        font-size: 20px!important;
        line-height: 28px!important;
        padding: 0 0.5rem;
        margin-top: 30px!important;
    }
    header main .input-section{
        margin-top: 50px!important;
    }
    .first-section{
        display: flex;
        justify-content: center!important;
    }
    .first-section h3{
        margin-bottom: 50px!important;
    }
    .product-section .card-wrapper .card .card-header{
        width: 300px!important;
    }
    .product-section .card-wrapper .card .card-header{
        width: 300px!important;
    }
    .product-section .card-wrapper .card .card-header{
        width: 300px!important;
    }
    .second-section .experiences{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        margin-top: 150px!important;
    }
    .second-section .experiences .left-section-experiences{
        width: 100%!important;
    }
    .second-section .experiences .left-section-experiences img{
        border-radius: 20px!important;
    }
    .second-section .experiences .right-section-experiences{
        width: 100%!important;
    }
    .second-section .experiences .right-section-experiences h4{
        text-wrap: nowrap!important;
    }
    .second-section .materials{
        display: flex;
        flex-direction: column-reverse;
        gap: 35px!important;
        width: 100%!important;
        margin-top: 70px!important;
        text-wrap: nowrap;
    }
    .second-section .materials .left-section-materials{
        width: 100%!important;
    }
    .second-section .materials .right-section-materials{
        width: 100%!important;
        display: flex;
        justify-content: center;
    }
    .second-section .materials .right-section-materials div:first-child{
        display: none!important;
    }
    .second-section .materials .right-section-materials div:last-child{
        width: 100%!important;
        position: relative!important;
        right: 20px!important;
    }
    .second-section .materials .right-section-materials div:last-child img{
        width: 100%!important;
        height: 70%!important;
        border-radius: 20px;
    }
    .second-section .testimonials{
        margin-top: 150px!important;
        overflow-x: hidden!important;
    }
    .second-section .testimonials .cards{
        margin-bottom: 100px!important;
    }
    footer{
        padding: 0 5%!important;
    }
    footer .footer-section{
        margin-bottom: 20px;
    }
    footer .copy-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    }
    footer .copy-right div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .copy-right div span:last-child{
        margin-left: 0!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }