@import url('./reset.css');
@import url('./fonts.css');
@import url('./media.css');

body {
    font-family: "Gilroy-Regular";
    overflow-x: hidden!important;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/hero-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10% 0 10%;
}

header .main-nav h1{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

header .main-nav ul{
    display: flex;
    gap: 60px;
}

header .main-nav ul li{ 
    display: inline;
}

header .main-nav ul li:first-child a{
    margin-right: 5px;
}

header .main-nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

header .main-nav .cart{
    position: relative;
}

header .main-nav .cart::after{
    content: "0";
    width: 18px;
    height: 22px;
    background-color: #E58411;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

header main h2{
    font-size: 80px;
    font-weight: 700;
    max-width: 860px;
    margin-top: 70px;
    line-height: 100px;
    text-transform: capitalize;
}

header main p{
    font-size: 24px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 30px;
    line-height: 38px;
}

header main .input-section{
    position: relative;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 42px;
}

header main .input-section input{
    width: 300px;
    height: 40px;
    border-radius: 42px;
    border: 1px solid #fff;
    padding: 8px 8px 8px 20px;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 18px;
}

header main .input-section input::placeholder{
    color: #fff;
    font-family: "Gilroy-Regular";
    font-size: 18px;
}

header main .input-section svg{
    background-color: #E58411;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 11px;
    position: absolute;
    right: 9px;
    top: 8px;
    cursor: pointer;
}

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    margin: 100px 0;
}

.first-section h3{
    font-size: 42px;
    font-weight: 700;
    margin: 0 10px;
}

.first-section div{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 10px;
}

.first-section h4{
    font-size: 24px;
    font-weight: 700;
}

.first-section p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 30px;
}

.first-section a{
    display: inline-block;
    margin-top: 14px;
    color: #E58411;
}

.first-section a span{
    margin-right: 12px;
}

.product-section{
    background-color: #F7F7F7;
}

.product-section h3{
    font-size: 42px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.product-section .card-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 10%;
    margin-top: 65px;
}

.product-section .card-wrapper .card{
    margin: 40px 20px;
}

.product-section .card-wrapper .card .card-header{
    width: 270px;
    height: 240px;
    background-color: #fafafa;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.product-section .card-wrapper .card .card-header img{
    transform: translateY(-35px);
}

.product-section .card-wrapper .card .card-body{
    background-color: #fff;
}

.product-section .card-wrapper .card .card-body span{
    font-size: 16px;
    font-weight: 400;
    color: #8d8d8d;
    display: inline-block;
    margin: 12px 0 0 16px;
}

.product-section .card-wrapper .card .card-body h5{
    font-size: 22px;
    font-weight: 600;
    color: #0d1b39;
    margin: 6px 0 0 16px;
}

.product-section .card-wrapper .card .card-body svg{
    margin: 6px 0 0 15px;
}

.product-section .card-wrapper .card .card-footer{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 30px 16px 20px 16px;
}

.product-section .card-wrapper .card .card-footer .price{
    color: #0d1b39;
}

.product-section .card-wrapper .card .card-footer .price sup{
    vertical-align: 5px;
    font-weight: 700px;
}

.product-section .card-wrapper .card .card-footer .price span{
    font-size: 22px;
    font-weight: 600;
}

.product-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
    padding-bottom: 24px;
}

.product-section a span{
    font-size: 18px;
    font-weight: 500;
    color: #E58411;
    margin-right: 10px;
}

.second-section{
    background-color: #fff;
    padding: 0 10%;
}

.second-section .experiences{
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.second-section .experiences .left-section-experiences{
    width: 50%;
}

.second-section .experiences .left-section-experiences img{
    max-width: 629px;
}

.second-section .experiences .right-section-experiences{
    width: 50%;
    max-width: 556px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-section .experiences .right-section-experiences h5{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #E58411;
    letter-spacing: 3px;
}

.second-section .experiences .right-section-experiences h4{
    font-size: 42px;
    font-weight: 700;
    color: #1e1e1e;
    margin-top: 20px;
    text-transform: capitalize;
    line-height: 50px;
}

.second-section .experiences .right-section-experiences p{
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: 20px;
    line-height: 33px;
}

.second-section .experiences .right-section-experiences a{
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.second-section .experiences .right-section-experiences a span{
    color: #E58411;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
}

.second-section .materials{
    margin-top: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-section .materials .left-section-materials{
    width: 50%;
}

.second-section .materials .left-section-materials h5{
    font-size: 18px;
    font-weight: 600;
    color: #E58411;
}

.second-section .materials .left-section-materials h4{
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: #1e1e1e;
    margin-top: 20px;
    text-transform: capitalize;
}

.second-section .materials .left-section-materials p{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #1e1e1e;
    margin-top: 20px;
    text-wrap: wrap;
}

.second-section .materials .left-section-materials a{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.second-section .materials .left-section-materials a span{
    color: #E58411;
    margin-right: 15px;
}

.second-section .materials .right-section-materials{
    width: 50%;
    display: flex;
}

.second-section .materials .right-section-materials div:first-child{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
}

.second-section .materials .right-section-materials div:first-child img:first-child{
    margin-bottom: 40px;
}

.second-section .materials .right-section-materials div:last-child{
    display: flex;
    position: relative;
    top: 90px;
}

.second-section .materials .right-section-materials div:last-child img{
    width: 480px;
    height: 445px;
    margin-left: 40px;
}

.second-section .testimonials{
    margin-top: 227px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.second-section .testimonials .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.second-section .testimonials .title h5{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #E58411;
}

.second-section .testimonials .title h4{
    font-size: 42px;
    font-weight: 700;
    color: #1e1e1e;
}

.second-section .testimonials .cards{
    margin: 60px 0 200px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.second-section .testimonials .cards img{
    max-width: 370px;
    height: auto;
}

footer{
    background-color: #F7F7F7;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15%;
}

footer .footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-section div{
    margin: 25px;
}

footer .footer-section h1{
    font-size: 28px;
    font-weight: 700;
    color: #1e1e1e;
}

footer .footer-section p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #1e1e1e;
    line-height: 24px;
}

footer .footer-section h6{
    color: #E58411;
    font-size: 17px;
    font-weight: 400;
}

footer .footer-section li a{
    color: #1e1e1e;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
}

footer .footer-section svg{
    margin-right: 10px;
    vertical-align: -3px;
}

footer .copy-right{
    display: flex;
    justify-content: space-between;
}